@{
    ViewData["Title"] = "Help";
}

<div class="text-center">
    <h1 class="display-4">Página de ajuda</h1>
    <p>Para mais documentações, consulte <a href="https://ajuda.com">nosso site de ajuda</a>.</p>
    <strong>@ViewData["horaAtual"]</strong>
</div>
