@{
    ViewData["Title"] = "Eventos";
}

<div class="text-center">
    <h1 class="display-4">Pagina Inicial</h1>
    @foreach (var evento in Model)
    {
        <h2>@evento.Id - @evento.Titulo</h2>
        
    }
</div>
